<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" vertical ="center" horizontal="center">
  Tebak Angka: 
  <input type="text" [(ngModel)]="tebak"> <br><br>
  <ion-button (click)="tebakangka()">Tebak</ion-button>

  <ng-template *ngIf="bool; then templatetrue; else templatefalse"></ng-template>

  <ng-template #templatetrue>
    <img src="assets/foto.jpg">
  </ng-template>

  <ng-template #templatefalse>
  </ng-template>
</ion-content>
